
.quiz-container {
    max-width: 100%;
    height: 800px;
    margin: 10%;
    padding: 5%;
    margin-bottom: 20%;
    padding-bottom: 20px;
    background-color: lightblue;
    border-radius: 5px;
   
   
  }
  
  h1 {
    text-align: center;
    color: #333;
    
   
  }

.option :hover{
    color: blueviolet;
  
    
   
  }
  .question{
    color: rgb(131, 88, 9);
    font-weight: bolder;
    font-size: 60px;
  }
#h1{
  font-size:70px;
}
  .option{
    font-size: 40px;
    text-align: center;

  }
