
   .appointments-container {
    text-align: center;
  }
  
  .appointment-list-title {
    font-size: 24px;
    font-weight: bold;
    color: #882525;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
  }
  
  .appointment-list {
    list-style: none;
    padding: 0;
  }
  
  .appointment-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .btn-edit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-delete {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancel {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .text-center {
    margin: auto;
    text-align: center;
    width: 80%; /* Specify your desired width value */
  max-width: 600px; 
  }