#header{
    font-size: 90px;
    margin-top: 50px;
    margin-bottom: 50px;

}


.link1{
    font-size: 20px;
    padding: 2%;
    margin: 5px;
    
    
}

#link2{
    font-size: 20px;
    
}

#link3{
    font-size: 20px;
  
}
#link4{
    font-size: 20px;
  
}
#link5{
    font-size: 20px;
  
}
#link6{
    font-size: 20px;
  
}
#link7{
    font-size: 20px;
  
} 
 .n{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100%; 

   
}
/*
.n2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
} */

.n3{
   margin-left: 5%;
   margin-right: 5%;
} 
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 100%;

  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
  }
  
 
  
  .text-center {
    text-align: center;
  }
  
  /* Additional styles if needed */
  